.list {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.item {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.bookImg {
  min-width: 100px; height: 150px;
  border: 1px solid #555;
  margin-right: 10px;
}
.description {
  font-size: 0.875rem;
}
.control button {
  border: 1px solid #555;
  margin-right: 5px;
}